################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ejercicio1/.vs/Ejercicio1/v15
/Ejercicio2/.vs/Ejercicio2/v15
